* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

nav {
    background-color: #4B2E2E;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.points_for_profit_logo {
    margin-left: 20px;
    height: 50px;
}

#hamburger-icon {
    margin-right: 20px;
    height: 40px;
}

/* Toggle menu CSS */
#menu {
    position: absolute;
    top: 70px; /* right below the navbar */
    left: 0;
    width: 100%;
    background-color: #4B2E2E;
    z-index: 10;

    display: none; /* hidden by default */
}

#menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0px 40px 0px;
}

#menu-container > a {
    font-family: Inter;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#menu-container > a:hover {
    color: #C99A6B;
    transform: scale(1.1);
}

/* Banner-image */
.banner-image {
    background-image: url("images/banner-image.png");
    width: 100%;
    height: 214px; /* This will change frequently for responsivness */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.banner-text-container > h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.banner-text-container > p {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
}

/* Hide desktop menu by default (mobile first) */
#desktop-menu {
    display: none;
}

#desktop-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#desktop-menu a:hover {
    color: #C99A6B;
    transform: scale(1.1);
}

/* ---------- Responsive ---------- */
@media (min-width: 480px) {
    .banner-text-container > h1 {
        font-size: 32px;
    }

    .banner-image {
        height: 320px; /* This will change frequently for responsivness */
    }
}

@media (min-width: 768px) {
    #hamburger-icon,
    #menu {
        display: none;
    }

    #desktop-menu {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
}
