* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: roboto, sans-serif;
}

/* Hide desktop nav by default for small screen */

.desktop-nav-link {
    display: none;
}

nav {
    background-color: black;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    height: 70px;
    width: 70px;

    margin-left: 10px;
}

#nav-hamburger {
    height: 50px;
    width: 50px;

    margin-right: 25px;
}

/* Banner */

#banner {
    border-top: 1px solid white;
    height: 200px;
}

#banner-image {
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -2;
}

#banner-shadow {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#banner-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

#slogan {
    font-size: 16px;
    font-weight: lighter;
}

/* Sponsors */

#sponsors-title {
    font-size: 24px;
    margin: 20px 10px;
    font-weight: bold;
    color: #000000;
}

#sponsors-carousel {
    width: max-content;
    display: flex;
    align-items: center;
    /* gap: 20px; */
    animation: sponsor-scroll 7s linear infinite;
}

#sponsors-carousel-container {
    position: relative;
    overflow: hidden;
}

#sponsors-carousel-container::before,
#sponsors-carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

#sponsors-carousel-container::before {
    left: 0;
    background: linear-gradient(
        to right,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

#sponsors-carousel-container::after {
    right: 0;
    background: linear-gradient(
        to left,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.sponsor-item {
    margin: 0px 20px;
}

/* animation */
@keyframes sponsor-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* How it works section */

#how-it-works-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 10px;
}

#how-it-works-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.hiw-card {
    background-color: #000000;
    margin: 0px 10px;
    width: 280px;

    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hiw-card > img {
    height: 70px;
    width: 70px;
}

.hiw-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}

.hiw-card-text {
    font-size: 16px;
    font-weight: lighter;
}

/* Partner with us section */

#partner-with-us {
    margin-top: 20px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

#partner-with-us-text-container {
    margin: 0px 10px;
    margin-bottom: 20px;
}

#partner-with-us-text-container > h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#partner-with-us-text-container > p {
    font-size: 16px;
    font-weight: lighter;
    margin-left: 5px;
}

#partner-with-us-button {
    width: 90%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    border-radius: 10px;
    border: none;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

/* Contact us section */

#contact-us {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}

#contact-us > h2 {
    font-size: 18px;
    text-align: center;
    color: black;
}

#contact-us > p {
    color: black;
    text-decoration: underline;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    background-color: black;
}

/* Large Phone */

@media (min-width: 480px) {

    /* Banner */

    #banner {
        height: 300px;
        width: 100%;
    }

    #banner-image {
        height: 300px;
    }

    #banner-shadow {
        height: 300px;
    }

    h1 {
        font-size: 40px;
    }

    /* How it works */

    #how-it-works-title {
        margin-left: 20px;
    }

    .hiw-card-title {
        font-size: 18px;
    }

    /* Partner with us */

    #partner-with-us-text-container {
        margin-left: 20px;
    }

    #partner-with-us-text-container > h2 {
        margin-bottom: 10px;
    }

    #partner-with-us-text-container > p {
        margin-left: 10px;    
    }

}

@media (min-width: 768px) {
    
    /* Banner */

    #banner {
        height: 400px;
        width: 100%;
    }

    #banner-image {
        height: 400px;
    }

    #banner-shadow {
        height: 400px;
    }

    h1 {
        font-size: 50px;
    }

    /* How it works */

    #how-it-works-title {
        margin-top: 40px;
        margin-left: 20px;
        padding: 40px 0px;
    }

    .hiw-card-title {
        font-size: 20px;
    }

    /* Partner with us */

    #partner-with-us {
        padding: 40px 0px;
    }

    #partner-with-us-text-container {
        margin-left: 20px;
    }

    #partner-with-us-text-container > h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    #partner-with-us-text-container > p {
        font-size: 18px;
    }

    /* Contact us */

    #contact-us {
        margin: 20px 0px;
    }

    #contact-us > h2 {
        font-size: 32px;
    }

    #contact-us > p {
        font-size: 18px;
    }

    /* Footer */

    footer {
        font-size: 16px;
    }

}

/* Desktop nav styles */

@media (min-width: 1024px) {
    #mobile-menu, #nav-hamburger {
        display: none;
    }

    .desktop-nav-link {
        display: inline;
    }

    /* Banner */

    #banner {
        height: 500px;
        width: 100%;
    }

    #banner-image {
        height: 500px;
    }

    #banner-shadow {
        height: 500px;
    }

    h1 {
        font-size: 62px;
    }

    #slogan {
        font-size: 24px;
    }

    /* Sponsors */
    
    #sponsors-title {
        font-size: 32px;
    }

    /* How it works */

    #how-it-works-title {
        font-size: 32px;
    }

    #how-it-works-grid {
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .hiw-card > img {
        height: 100px;
        width: 100px;
    }

    .hiw-card-title {
        font-size: 24px;
    }

    .hiw-card-text {
        font-size: 24px;
    }

    /* Partner with us */

    #partner-with-us {
        padding: 40px 0px;
    }

    #partner-with-us-text-container {
        margin-left: 20px;
    }

    #partner-with-us-text-container > h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    #partner-with-us-text-container > p {
        font-size: 18px;
    }

    /* Contact us */

    #contact-us {
        margin: 20px 0px;
    }

    #contact-us > h2 {
        font-size: 32px;
    }

    #contact-us > p {
        font-size: 18px;
    }

    /* Footer */

    footer {
        font-size: 16px;
    }
}

