* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: roboto, sans-serif;
}

nav {
    background-color: black;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    margin-left: 10px;
}

#nav-hamburger {
    margin-right: 25px;
}

/* Banner */

#banner {
    border-top: 1px solid white;
    height: 200px;
}

#banner-image {
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -2;
}

#banner-shadow {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#banner-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

#banner-h2 {
    font-size: 16px;
    font-weight: lighter;
}

/* How it works section */

#how-it-works-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 10px;
}

#how-it-works-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Cards ONLY get black background */
.hiw-card {
    background-color: #000000;
    margin: 0px 10px;
    width: 280px;

    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Text */
.hiw-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}

.hiw-card-text {
    font-size: 16px;
    font-weight: lighter;
}